
<body>
<style>


.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

dev.first {
background-image:url('heading.jpeg' );
background: rgba(0, 128, 0, 0.3);

}
h1 {
  <!--> background-color: black;
  text-align: center;
  color: black;
   src: url(sansation_light.woff);
}
h2 {
  <!--> background-color: black;
  text-align: center;
  color: black;
}
.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
.p2 {
  font-family: Arial, Helvetica, sans-serif;
}
</style>

<div class="first" >

<h1>Search.IT.!!!</h1>
<h2>Get Your #tag trends...</h2>
</div>
<div class="center">

<form action = "#" method = "post">
  <label for="searchtext" class="p3">Search Twitter:</label><br>
  <input type="text" id="searchtext" name="searchtext" value="searchtext"}}>
  <input type="submit" value="SearchIT">
</form>

<p class="p2">Note that the form itself is not visible.</p>
<p class="p2">Also note that the default width of text input fields is 20 characters.</p>

</div>

</body>
</html>
